@use "variaveis" as v;
@use "mixin" as mx;

/*footer*/
footer {
  background-color: v.$cor3;
}
.redes-drop {
  @include mx.container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
/*Redes Sociais*/

.redes-sociais {
  display: flex;
  flex: 1;
  justify-content: center;
  i {
    padding: 0 20px 0 20px;
  }
  a{
    text-decoration: none;
    color: v.$cor1;
  }
}
/*Dropdown Menu */

.drop-btn {
  background-color: v.$cor2;
  color: v.$cor4;
  border: none;
  cursor: pointer;
  padding: 20px;
  max-width: 200px;
  top: 100%;
}

.dropdown {
  display: flex;
  flex: 1;
  margin: auto;
  max-width: 200px;
  position: relative;
  &:hover .dropdown-content {
    display: block;
  }
}
.dropdown-content {
  display: none;
  background-color: v.$cor3;
  border: 5px v.$cor2 solid;
  min-width: 200px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  direction: rtl;
  a {
    color: v.$cor2;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 2px v.$cor2 solid;
    &:hover {
      font-weight: bold;
    }
  }
}
